// @import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i';
// @import 'https://fonts.googleapis.com/css?family=Kanit:300,400,600&subset=thai';

$bg: #1D1E20;
$primary: #6DFBEF;
$text: #909B93;
$red: #FB6E6D;
$yellow: #FBE56D;
$grey: #C2C3C5;
$progress_bar_color: #C3CEC7;
$progress_bar_bg: #4B4C51;

html,
body{
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
}

/* FOUNDATION */

.columns{
  &.no-padding-lr{
    padding-left: 0;
    padding-right: 0;
  }
}

.page{
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
  &.full{
    height: 100%;
  }
  &.min{
    min-height: 100%;
  }
}
