@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i';
// @import 'https://fonts.googleapis.com/css?family=Kanit:300,400,600&subset=thai';

// $bg: #1D1E20;
// $primary: #6DFBEF;
// $text: #909B93;
// $yellow: #7C9B95;
// $red: #ebeb94;
// $grey: #C2C3C5;
// $progress_bar_color: #C3CEC7;
// $progress_bar_bg: #4B4C51;

$bg: #1D1E20;
$primary: #6DFBEF;
$text: #909B93;
$red: #FB6E6D;
$yellow: #FBE56D;
$grey: #C2C3C5;
$progress_bar_color: #C3CEC7;
$progress_bar_bg: #4B4C51;

$close_red: #FB6E6D;

html,
body{
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
}

/* FOUNDATION */

.columns{
  &.no-padding-lr{
    padding-left: 0;
    padding-right: 0;
  }
}

/* FOUNDATION */

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title_line{
  p.title.m{
    border-top: 1px solid #fff;
    padding-top: 3rem;
  }
  p.title.n{
    border-top: 1px solid #fff;
    padding-top: 3rem;
    margin-top: 0rem;
  }
  .title.removeMargin{
    margin-top: 0rem;
  }
  .title.addPadding{
    padding-top: 3.5rem;
  }
}

/** MIXIN */

@mixin bigHead($font-size: 10rem, $line-height: 10rem){
  .title{
    padding: 0;
    font-size: $font-size;
    font-weight: 900;
    line-height: $line-height;
    margin-top: 3.5rem;
  }
}

/** MIXIN */

#welcome{
  .header{
    padding: 1rem .5rem;
    .social{
      font-size: 1.225rem;
      color: $primary;
      a{
        color: $primary;
        i{
          padding: 0rem .075rem;
        }
        &:hover{
          color: lighten($primary, 15);
        }
      }
    }
  }
  .content{
    margin-top: 6.5rem;
    &.m{
      margin-top: 3%;
      #underline{
        font-size: 1.5rem;
      }
    }
    #bigguy{
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      // width: 50%;
      font-size: 13rem;
      text-align: center;
      border-bottom: 1px solid #596A71;
      line-height: 13rem;
      color: $primary;
    }
    #underline{
      text-align: center;
      font-weight: 900;
      font-size: 1.75rem;
      color: $primary;
      #myname{
        font-style: italic;
        color: #FFF;
      }
    }
  }
  #start{
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    #triangle{
      border-top: 3px solid $primary;
      border-left: 3px solid $primary;
      margin: 0 auto;
      width: 2.5rem;
      height: 2.5rem;
      transform: rotate(225deg);
    }
  }
}

#profile{
  background-color: darken($bg, 1);
  .cover{
    width: 100%;
    background-image: url('/img/ocean1.jpg');
    background-size: cover;
    background-position-y: 0rem;
    padding: 2rem 1rem 1rem 1rem;
    border-bottom: 4px solid $primary;
    .profile_img{
      padding: 0;
      img{
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }
    .content{
      color: #FFF;
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 2rem;
      padding-left: 3rem;
      &.mobile{
        margin-top: .25rem;
        line-height: 2rem;
        .nick{
          font-size: 2rem;
        }
        .detail{
          margin-top: 1rem;
          line-height: 1.5rem;
        }
      }
      .nick{
        color: #BBBBBB;
      }
      .detail{
        margin-top: -1rem;
        padding: 0;
        font-weight: 400;
        font-size: 1.5rem;
        color: #E7E7E7;
      }
    }
  }
  .content{
    color: $text;
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    h3{
      color: #FFF;
      font-weight: 600;
      padding-left: .5rem;
    }
    .row2 h3{
      padding-left: 0;
    }
    .row2{
      margin-top: 1.75rem;
    }
    .columns{
      .progress{
        height: 1.5rem;
        background-color: $progress_bar_bg;
        .progress-meter{
          background-color: $progress_bar_color;
        }
      }
      .exp{
        font-weight: 400;
        line-height: 1rem;
        padding: .5rem 0rem;
        border-bottom: 2px solid $text;
      }
      p{
        margin: 0;
        padding: 0;
        line-height: 1.5rem;
      }
    }
  }
}

#skills{
  @include bigHead(8.5rem, 8.5rem);
  @extend .title_line;
  @extend .colorful_item;
}

#tools{
  @include bigHead(8.5rem, 8.5rem);
  @extend .title_line;
  @extend .colorful_item;
  // border-top: 5px solid #fff;
}

#projects{
  // @include bigHead(4rem, 4rem);
  @include bigHead(6.5rem, 6.5rem);
  @extend .title_line;
  @extend .colorful_item;
  .title.n{
    font-size: 5rem;
    line-height: 5rem;
  }
  // .title{
  //   margin-top: 0rem;
  //   background: #FFF;
  //   background: -webkit-linear-gradient(left, #FFF, #CCC); /* For Safari 5.1 to 6.0 */
  //   background: -o-linear-gradient(right, #FFF, #CCC); /* For Opera 11.1 to 12.0 */
  //   background: -moz-linear-gradient(right, #FFF, #CCC); /* For Firefox 3.6 to 15 */
  //   background: linear-gradient(to right, #FFF, #CCC); /* Standard syntax */
  //   color: $bg;
  //   padding-top: 2rem;
  // }
  .projects{
    margin-top: 7%;
    visibility: visible;
    &.hide{
      visibility: hidden;
    }
  }
  .project{
    & + .project{
      margin-top: 2rem;
    }
    .item{
      opacity: 0.25;
      padding: .9375rem;
      img{
        width: 100%;
        transition: all ease .5s;
      }
      &:hover,
      &:focus{
        opacity: 1;
        img{
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, .25);
        }
      }
      &:active{
        img{
          transform: scale(.95);
          transition: all ease .25s;
        }
      }
    }
  }
  #modal_bg{
    position: absolute;
    padding-bottom: 3.25rem;
    width: 100%;
    min-height: 100%;
    background-color: rgba($color: #000, $alpha: .75);
    z-index: 9998;
    opacity: 0;
    transition: all ease .25s;
    visibility: hidden;
    &.show{
      opacity: 1;
      visibility: visible;
    }
  }
  .modal_project{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .35);
    color: #fff;
    position: relative;
    min-width: 100%;
    margin-top: 3.25rem;
    background-color: $bg;
    border-width: 0px;
    border-style: solid;
    border-color: #fff;
    overflow-y: auto;
    max-height: 0px;
    opacity: .5;
    transition: all ease .5s;
    &.show{
      opacity: 1;
      border-width: 1px;
      max-height: 700px;
      .modal_header{
        .close_modal{
          outline: none;
          font-size: 1.5rem;
          padding: .35rem .5rem;
          background-color: transparent;
          color: #000;
          &:hover{
            color: #fff;
            background-color: darken($close_red, 10);
          }
          &:active{
            color: #fff;
            background-color: darken($close_red, 30);
          }
        }
      }
    }
    .modal_header{
      background-color: #fff;
      color: $bg;
      .close_modal{
        cursor: default;
        outline: none;
        font-size: 1.5rem;
        padding: .35rem .5rem;
        color: #fff;
        background-color: darken($close_red, 30);
      }
    }
    .modal_cover{
      // border-bottom: 1px solid $primary;
      border-bottom: 1px solid #fff;
      img{
        width: 100%;
      }
    }
    .modal_body{
      padding: 1.5rem 1rem;
      .duty{
        div{
          display: inline-block;
        }
        p{
          display: inline-block;
          font-size: 1.35rem;
          font-weight: 700;
        }
        .item{
          @extend .disable-select;
          cursor: default;
          font-size: 1rem;
          margin-left: .5rem;
          background-color: $primary;
          color: $bg;
          padding-left: .5rem;
          padding-right: .5rem;
          font-weight: 300;
          text-transform: capitalize;
        }
      }
      .modal_content{
        font-size: 1.15rem;
      }
      .orbit{
        .orbit-previous,
        .orbit-next{
          padding: .75rem .5rem;
        }
        ul,
        li,
        img,
        button{
          outline: none !important;
        }
        ul,li{
          min-height: 176px !important;
          max-height: 1000px !important;
        }
        figcaption{
          padding: .5rem 1rem;
        }
        .orbit-bullets{
          margin: .125rem;
          display: flex;
          button{
            border-radius: 0px;
            outline: none;
            flex: auto;
            width: .75rem;
            height: .5rem;
            background-color: lighten($bg, 20);
            &.is-active{
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}

#contact{
  .header{
    padding: 1rem .5rem;
  }
  .content{
    margin-top: 1rem;
    #bigguy{
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      // width: 50%;
      font-size: 8rem;
      text-align: center;
      border-bottom: 1px solid #596A71;
      line-height: 10rem;
      color: $primary;
    }
    #underline{
      text-align: center;
      font-weight: 900;
      font-size: 1.75rem;
      color: $primary;
      #myname{
        font-style: italic;
        color: #FFF;
      }
    }

    .social{
      margin-top: 2.25rem;
      color: $primary;
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-weight: 700;
      a{
        color: #fff;
        i{
          font-size: 1.75rem;
          padding: 0rem .075rem;
        }
        &:hover{
          color: lighten($primary, 15);
        }
        &:visited{
          color: inherit;
        }
      }
      .fa{
        color: $primary;
      }
      span{
        color: #fff;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-left: 1rem;
      }
    }
  }
}

.colorful_item{
  .list + .list{
    margin-top: 2rem;
  }
  .list{
    padding: 0;
    .item{
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.45rem;
    }
    .primary{
      .head{
        background-color: $primary;
      }
      color: $primary;
    }
    .danger{
      .head{
        background-color: $red;
      }
      color: $red;
    }
    .warning{
      .head{
        background-color: $yellow;
      }
      color: $yellow;
    }
    .grey{
      .head{
        background-color: $grey;
      }
      color: $grey;
    }
    .head{
      background-color: $primary;
      // color: lighten($bg, 5);
      color: $bg;
      font-size: 3rem;
      font-weight: 700;
      line-height: 2rem;
      padding-top: 1.5rem;
      margin-bottom: 2rem;
    }

  }
}

.page{
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
  &.full{
    height: 100%;
  }
  &.min{
    min-height: 100%;
  }
  &.default{
    background-color: $bg;
  }
  &.moreDark{
    background-color: darken($bg, 1.5);
  }
}
