@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i';
// @import 'https://fonts.googleapis.com/css?family=Kanit:300,400,600&subset=thai';

// $bg: #1D1E20;
// $primary: #6DFBEF;
// $text: #909B93;
// $yellow: #7C9B95;
// $red: #ebeb94;
// $grey: #C2C3C5;
// $progress_bar_color: #C3CEC7;
// $progress_bar_bg: #4B4C51;

$bg: #1D1E20;
$primary: #6DFBEF;
$text: #909B93;
$red: #FB6E6D;
$yellow: #FBE56D;
$grey: #C2C3C5;
$progress_bar_color: #C3CEC7;
$progress_bar_bg: #4B4C51;

$close_red: #FB6E6D;

html,
body,
.bodyCtrl{
  background-color: $bg;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
}

section{
  &.loaded{
    opacity: 1;
  }
}
/* FOUNDATION */

.columns{
  &.no-padding-lr{
    padding-left: 0;
    padding-right: 0;
  }
}

/* FOUNDATION */

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-drag{
  user-drag: none;
  -webkit-user-drag: none;
}

.title_line{
  p.title.m{
    border-top: 1px solid #fff;
    padding-top: 3rem;
  }
  p.title.n{
    border-top: 1px solid #fff;
    padding-top: 3rem;
    margin-top: 0rem;
  }
  .title.removeMargin{
    margin-top: 0rem;
  }
  .title.addPadding{
    padding-top: 3.5rem;
  }
}

/** MIXIN */

@mixin bigHead($font-size: 10rem, $line-height: 10rem){
  .title{
    padding: 0;
    font-size: $font-size;
    font-weight: 900;
    line-height: $line-height;
    margin-top: 3.5rem;
  }
}

/** MIXIN */

.wrapper_share{
  position: fixed;
  z-index: 10249999;
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  .shareter{
    background-color: $primary;
    color: $bg;
    font-size: 1rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    transform: rotate(0deg);
    transition: all ease .25s;
    -webkit-transition: all ease .25s;
    i{
      transition: all ease .25s;
      -webkit-transition: all ease .25s;
    }
    &:before {
      border: 1px solid $primary;
      content: "";
      position: absolute;
      top: 0rem;
      bottom: 0rem;
      left: 0rem;
      right: 0rem;
      transition: all ease .25s;
    }
    &:hover,
    &:focus{
      &:before{
        top: -.3rem;
        bottom: -.3rem;
        left: -.3rem;
        right: -.3rem;
      }
    }
    &:active{
      &:before{
        top: -.13rem;
        bottom: -.13rem;
        left: -.13rem;
        right: -.13rem;
      }
    }

    &.open{
      transform: rotate(45deg);
      i{
        transform: rotate(-45deg);
      }
      &:before{
        top: -.25rem;
        bottom: -.25rem;
        left: -.25rem;
        right: -.25rem;
      }
      &:active{
        &:before{
          top: -.13rem;
          bottom: -.13rem;
          left: -.13rem;
          right: -.13rem;
        }
      }
    }
  }
  .share_fb{
    margin-left: 1.5rem;
    color: #000;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    background-color: $primary;
  }
}

#welcome{
  -webkit-transition: opacity ease .25s;
  transition: opacity ease .25s;
  .header{
    padding: 1rem .5rem;
    .social{
      outline: none;
      font-size: 1.225rem;
      color: $primary;
      a{
        color: $primary;
        i{
          padding: 0rem .075rem;
        }
        &:hover{
          color: lighten($primary, 15);
        }
      }
      a+a{
        margin-left: .5rem;
      }
      &.m{
        text-align: center;
        font-size: 2rem;
        button{
          padding: .5rem;
        }
        a{
          &:hover{
            color: $bg;
            button{
              background-color: $primary;
            }
          }
        }
        a+a{
          margin-left: 1rem;
        }
      }
    }
  }
  .content{
    margin-top: 6.5rem;
    &.m{
      margin-top: 3%;
      #underline{
        font-size: 1.5rem;
      }
    }
    #bigguy{
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      // width: 50%;
      font-size: 13rem;
      text-align: center;
      border-bottom: 1px solid #596A71;
      line-height: 13rem;
      color: $primary;
    }
    #underline{
      text-align: center;
      font-weight: 900;
      font-size: 1.75rem;
      color: $primary;
      #myname{
        font-style: italic;
        color: #FFF;
      }
    }
  }
  #start{
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    #triangle{
      border-top: 3px solid $primary;
      border-left: 3px solid $primary;
      margin: 0 auto;
      width: 2.5rem;
      height: 2.5rem;
      transform: rotate(225deg);
    }
  }
}

#profile{
  margin-top: .5rem;
  box-shadow: 0px 0px 3rem .5rem #000;
  background-color: darken($bg, 1);
  .cover{
    -webkit-transition: opacity ease .5s;
    transition: opacity ease .5s;
    opacity: 0;
    width: 100%;
    background-image: url('/img/ocean1.jpg');
    background-size: cover;
    background-position-y: 0rem;
    padding: 2rem 1rem 1rem 1rem;
    border-bottom: 4px solid $primary;
    .profile_img{
      padding: 0;
      img{
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }
    .content{
      color: #FFF;
      font-size: 2.25rem;
      font-weight: 600;
      margin-top: 2rem;
      padding-left: 3rem;
      &.mobile{
        margin-top: .25rem;
        line-height: 2rem;
        .nick{
          font-size: 2rem;
        }
        .detail{
          margin-top: 1rem;
          line-height: 1.5rem;
        }
      }
      .nick{
        color: #BBBBBB;
      }
      .detail{
        margin-top: -1rem;
        padding: 0;
        font-weight: 400;
        font-size: 1.5rem;
        color: #E7E7E7;
      }
    }
  }
  .content{
    color: $text;
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    h3{
      color: #FFF;
      font-weight: 600;
      padding-left: .5rem;
    }
    .row2 h3{
      padding-left: 0;
    }
    .row2{
      margin-top: 1.75rem;
    }
    .columns{
      .progress{
        height: 1.5rem;
        background-color: $progress_bar_bg;
        outline: none;
        .progress-meter{
          -webkit-transition: width ease-out 2s;
          transition: width ease-out 1s;
          background-color: $progress_bar_color;
          outline: none;
        }
      }
      .exp{
        font-weight: 400;
        line-height: 1rem;
        padding: .5rem 0rem;
        border-bottom: 2px solid $text;
      }
      p{
        margin: 0;
        padding: 0;
        line-height: 1.5rem;
      }
    }
  }
}

#skills{
  @include bigHead(8.5rem, 8.5rem);
  @extend .title_line;
  @extend .colorful_item;
}

#tools{
  @include bigHead(8.5rem, 8.5rem);
  @extend .title_line;
  @extend .colorful_item;
  // border-top: 5px solid #fff;
}

#projects{
  // @include bigHead(4rem, 4rem);
  @include bigHead(6.5rem, 6.5rem);
  @extend .title_line;
  @extend .colorful_item;
  .title.n{
    font-size: 5.75rem;
    line-height: 5.75rem;
  }
  .projects{
    margin-top: 5%;
    visibility: visible;
    &.hide{
      visibility: hidden;
    }
  }
  .project{
    & + .project{
      margin-top: 2rem;
    }
    .item{
      opacity: 0.15;
      padding: .9375rem;
      transition: all ease .25s;
      .zoom{
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        text-align: center;
        padding-top: 6rem;
        font-size: 3rem;
        color: #fff;
        text-shadow: 0px 0px 10px #000;
      }
      &.arrived{
        opacity: 0.65;
        transform: scale(1.025);
      }
      &.onHoverThis{
        opacity: 1;
      }
      &.onHoverOther{
        opacity: 0.15;
      }
      img{
        width: 100%;
        transition: all ease .5s;
      }
      &:after{
        border: 1px solid $primary;
        content: "";
        position: absolute;
        top: -.75rem;
        bottom: -.75rem;
        left: -.75rem;
        right: -.75rem;
        opacity: 0;
        transition: all ease .25s;
        z-index: -11111;
      }
      &:hover,
      &:focus{
        opacity: 1;
        transition: none;
        &:after{
          opacity: 1;
          top: .25rem;
          bottom: .25rem;
          left: .25rem;
          right: .25rem;
        }
        img{
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, .25);
        }
      }
      &:active{
        img{
          // transform: scale(.95);
          transition: all ease .15s;
        }
        &:after{
          opacity: 1;
          top: .75rem;
          bottom: .75rem;
          left: .75rem;
          right: .75rem;
        }
      }
    }
    // .item:hover ~ .item,
    // .item:focus ~.item {
    //   opacity: 0.05;
    // }
  }
  #modal_bg{
    position: absolute;
    padding-bottom: 3.25rem;
    width: 100%;
    min-height: 100%;
    background-color: rgba($color: #000, $alpha: .75);
    z-index: 9998;
    opacity: 0;
    transition: all ease .25s;
    visibility: hidden;
    &.show{
      opacity: 1;
      visibility: visible;
    }
    #loading_modal{
      position: relative;
      text-align: center;
      color: $bg;
      line-height: 3rem;
      font-size: 1.5rem;
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0, .45);
      min-height: 0%;
      max-height: 0px;
      opacity: 0;
      transition: all ease .5s;
      -webkit-transition: all ease .5s;
      &.show{
        opacity: 1;
        min-height: 100%;
        max-height: 100px;
      }
    }
  }
  .modal_project{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .45);
    color: #fff;
    position: relative;
    // min-width: 100%;
    max-width: 0%;
    margin-top: 3.25rem;
    background-color: $bg;
    border-width: 0px;
    border-style: none;
    border-color: #fff;
    overflow-y: hidden;
    max-height: 0px;
    opacity: .5;
    transition: all ease .5s;
    &.show{
      opacity: 1;
      border-width: 1px;
      max-width: 100%;
      max-height: 700px;
      .modal_header{
        .close_modal{
          outline: none;
          background-color: transparent;
          color: #000;
          &:hover{
            color: #fff;
            background-color: darken($close_red, 10);
          }
          &:active{
            color: #fff;
            background-color: darken($close_red, 30);
          }
        }
      }
    }
    .modal_header{
      background-color: #fff;
      color: $bg;
      .modal_title{
        @extend .disable-select;
        cursor: default;
        padding-left: .5rem;
        font-size: .85rem;
        line-height: 1.7rem;
      }
      .close_modal{
        @extend .disable-select;
        cursor: default;
        outline: none;
        font-size: 1rem;
        line-height: .75rem;
        padding: .5rem 1.25rem .45rem 1.25rem;
        color: #fff;
        background-color: darken($close_red, 30);
      }
    }
    .modal_cover{
      @extend .disable-select;
      border-bottom: 1px solid #fff;
      img{
        @extend .disable-drag;
        width: 100%;

      }
    }
    .modal_body{
      padding: 1.5rem 1rem;
      max-height: 30rem;
      overflow-y: auto;
      .duty{
        div{
          display: inline-block;
        }
        p{
          display: inline-block;
          font-size: 1.35rem;
          font-weight: 700;
        }
        .item{
          @extend .disable-select;
          cursor: default;
          font-size: 1rem;
          margin-left: .5rem;
          background-color: $primary;
          color: $bg;
          padding-left: .5rem;
          padding-right: .5rem;
          font-weight: 300;
          text-transform: capitalize;
        }
      }
      .modal_content{
        font-size: 1.15rem;
      }
      .orbit{
        .orbit-previous,
        .orbit-next{
          padding: .75rem .5rem;
        }
        ul,
        li,
        img,
        button{
          outline: none !important;
        }
        ul,li{
          min-height: 176px !important;
          max-height: 1000px !important;
        }
        figcaption{
          padding: .5rem 1rem;
        }
        .orbit-bullets{
          margin: .125rem;
          display: flex;
          button{
            border-radius: 0px;
            outline: none;
            flex: auto;
            width: .75rem;
            height: .5rem;
            background-color: lighten($bg, 20);
            &.is-active{
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}

#contact{
  .header{
    padding: 1rem .5rem;
  }
  .content{
    margin-top: 1rem;
    #bigguy{
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      // width: 50%;
      font-size: 8rem;
      text-align: center;
      border-bottom: 1px solid #596A71;
      line-height: 10rem;
      color: $primary;
    }
    #underline{
      text-align: center;
      font-weight: 900;
      font-size: 1.75rem;
      color: $primary;
      #myname{
        font-style: italic;
        color: #FFF;
      }
    }

    .social{
      margin-top: 2.25rem;
      color: $primary;
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-weight: 700;
      a{
        color: #fff;
        i{
          font-size: 1.75rem;
          padding: 0rem .075rem;
        }
        &:hover{
          color: lighten($primary, 15);
        }
        &:visited{
          color: inherit;
        }
      }
      .fa{
        color: $primary;
      }
      span{
        color: #fff;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-left: 1rem;
      }
    }
  }
}

.colorful_item{
  .list + .list{
    margin-top: 2rem;
  }
  .list{
    padding: 0;
    .item{
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.45rem;
    }
    .primary{
      .head{
        background-color: $primary;
      }
      color: $primary;
    }
    .danger{
      .head{
        background-color: $red;
      }
      color: $red;
    }
    .warning{
      .head{
        background-color: $yellow;
      }
      color: $yellow;
    }
    .grey{
      .head{
        background-color: $grey;
      }
      color: $grey;
    }
    .head{
      background-color: $primary;
      // color: lighten($bg, 5);
      color: $bg;
      font-size: 3rem;
      font-weight: 700;
      line-height: 2rem;
      padding-top: 1.5rem;
      margin-bottom: 2rem;
    }

  }
}

.page{
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
  &.full{
    height: 100%;
  }
  &.reserved{
    width: 0% !important;
  }
  &.fixed{
    position: fixed !important;
  }
  &.absolute{
    position: absolute !important;
  }
  &.min{
    min-height: 100%;
  }
  &.default{
    background-color: $bg;
  }
  &.moreDark{
    background-color: darken($bg, 1.5);
  }
  &.transparentcy{
    background-color: transparent;
  }
}

// animation
@keyframes wave {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(.9);
  }
  100%{
    transform: scale(.99);
  }
}
