<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/libs/foundation-sites/dist/foundation.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="/libs/components-font-awesome/css/font-awesome.min.css">
    <title>MyProfile | Jirachai Chansivanon</title>
  </head>
  <body>
    <div id="welcome" class="page full default">
      <div class="header row expanded">
        <div id="burger-x" class="small-6 columns">
          <!-- <span></span>
          <span></span>
          <span></span> -->
        </div>
        <div class="small-6 columns text-right social">
          <a href="https://fb.com/JobAntronic">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/JobAntronic">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/jobantronic/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/antronic/">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
          <a href="mailto:antronic.inc@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a href="skype:jobantronic?call">
            <i class="fa fa-skype" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="content row expanded">
        <p id="bigguy" class="small-12 medium-6 medium-offset-6">
          HI!
        </p>
        <p id="underline">
          I'M <span id="myname">JIRACHAI CHANSIVANON</span>
        </p>
      </div>
      <div id="start">
        <a href="#profile">
          <div id="triangle">
          </div>
        </a>
      </div>
    </div>
    <div id="profile" class="page min">
      <div class="cover expanded row">
        <div class="profile_img small-6 small-offset-3 medium-2 medium-offset-0 columns">
          <img src="/img/profile_img.jpg" alt="Jirachai Chansivanon">
        </div>
        <div class="content medium-9 text-left columns hide-for-small-only">
          JIRACHAI CHANSIVANON
          <span class="nick">
            (Job)
          </span>
          <p class="detail">
            WEB DEVELOPER | CONTENT CREATOR
          </p>
        </div>

        <div class="content mobile small-12 text-center columns hide-for-medium hide-for-large">
          JIRACHAI CHANSIVANON
          <span class="nick">
            (Job)
          </span>
          <p class="detail">
            WEB DEVELOPER | CONTENT CREATOR
          </p>
        </div>
      </div>
      <div class="content expanded row">
        <div class="row expanded">
          <h3>EXPERIENCES</h3>
          <div class="small-12 medium-6 large-4 columns">
            <div class="exp row">
              <p><strong>ANTRONIC</strong> | 2009 - PRESENT</p>
              <p>asOwner | Game’sCaster,</p>
              <p>Youtube’s Partner @ Fullscreen, Inc</p>
              <p>| 2011 - PRESENT</p>
            </div>
            <div class="exp row">
              <p><strong>MINECRAFT ANTROSERVER</strong> | 2011 - 2013</p>
              <p>as Owner | System Administrator</p>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns">
            <div class="exp row">
              <p><strong>STAYGREAN MINECRAFT</strong> | 2013 - 2014
              <p>as System Administrator</p>
            </div>
            <div class="exp row">
              <p><strong>DOLLARS [TH]</strong> | 2013 - 2015</p>
              <p>as Web Developer,  Co-Oganizer</p>
            </div>
            <div class="exp row">
              <p><strong>DEKCOMSTORY</strong> | 2015 - PRESENT</p>
              <p>as Owner | Founder | Content Creator</p>
            </div>
          </div>
          <div class="small-12 medium-6 large-4 columns">
            <div class="exp row">
              <p><strong>TEDxKMUTT (First Gen.)</strong> | 2016 - PRESENT</p>
              <p>as Web Developer</p>
            </div>
            <div class="exp row">
              <p><strong>CampHUB.in.th</strong> | 2016 - PRESENT</p>
              <p>as Web Developer,  Content Creator</p>
            </div>
          </div>
        </div>
        <div class="row row2 expand">
          <div class="small-12 medium-6 large-4 columns">
            <h3>EDUCATION</h3>
            <div class="row">
              <p>COMPUTER SCIENCE | 2015 - PRESENT</p>
              <p>King Mongkut’s University of </p>
              <p>Technology Thonburi</p>
            </div>
          </div>
          <div class="small-12 medium-6 large-8 columns">
            <h3>SKILLS</h3>
            <div class="large-6 columns no-padding-lr">

              <div class="row">
                <div class="small-5 medium-4 columns no-padding-lr">
                  HTML / CSS
                </div>
                <div class="small-7 medium-8 columns">
                  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 90%"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-5 medium-4 columns no-padding-lr">
                  Javascript
                </div>
                <div class="small-7 medium-8 columns">
                  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 80%"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-5 medium-4 columns no-padding-lr">
                  Javascript(ES6)
                </div>
                <div class="small-7 medium-8 columns">
                  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 25%"></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="large-6 columns no-padding-lr">

              <div class="row">
                <div class="small-5 medium-4 columns no-padding-lr">
                  PHP(CI)
                </div>
                <div class="small-7 medium-8 columns">
                  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 85%"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-5 medium-4 columns no-padding-lr">
                  NodeJS
                </div>
                <div class="small-7 medium-8 columns">
                  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 80%"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-5 medium-4 columns no-padding-lr">
                  Photoshop
                </div>
                <div class="small-7 medium-8 columns">
                  <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 82%"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="skills" class="page min default">
      <div class="row">
        <p class="title">Skills</p>
      </div>
      <div class="row">
        <div class="row list">
          <div class="medium-6 large-4 columns primary">
            <p class="head">Advanced</p>
            <div class="small-12 item">HTML 5</div>
            <div class="small-12 item">CSS 3</div>
            <div class="small-12 item">Javascript</div>
            <div class="small-12 item">PHP (CI)</div>
            <div class="small-12 item">NodeJS</div>
            <div class="small-12 item">SQL</div>
          </div>
          <div class="medium-6 large-4 columns danger">
            <p class="head">Intermediate</p>
            <div class="small-12 item">Java</div>
            <div class="small-12 item">NoSQL (MongoDB)</div>
            <div class="small-12 item">CanvasJS</div>
          </div>
          <div class="medium-6 large-4 columns warning">
            <p class="head">Beginner</p>
            <div class="small-12 item">Python</div>
            <div class="small-12 item">C/C++</div>
          </div>
        </div>
        <div class="row list">
          <div class="medium-6 large-4 columns grey">
            <p class="head">Learning</p>
            <div class="small-12 item">iOS (Swift)</div>
            <div class="small-12 item">IoT (Raspberry Pi)</div>
          </div>
        </div>
      </div>
    </div>
    <div id="tools" class="page min moreDark">
      <div class="row">
        <p class="title">Tools</p>
      </div>
      <div class="row">
        <div class="row list">
          <div class="medium-6 large-4 columns primary">
            <p class="head">WebStack</p>
            <div class="small-12 item">Codeignitor 3</div>
            <div class="small-12 item">jQuery</div>
            <div class="small-12 item">SASS(SCSS)</div>
            <div class="small-12 item">LESS</div>
            <div class="small-12 item">Bootstrap 3</div>
            <div class="small-12 item">Foundation 6</div>
            <div class="small-12 item">NodeJS</div>
            <div class="small-12 item">Laravel 5.2</div>
            <div class="small-12 item">AngularJS 1.0</div>
            <div class="small-12 item">ReactJS (ES2015)</div>
            <div class="small-12 item">Babel</div>
            <div class="small-12 item">Gulp</div>
            <div class="small-12 item">Socket.io</div>
          </div>
          <div class="medium-6 large-4 columns danger">
            <p class="head">Server&Cloud</p>
            <div class="small-12 item">Apache 2.4</div>
            <div class="small-12 item">Nginx 1.8.1</div>
            <div class="small-12 item">DigitalOcean</div>
          </div>
          <div class="medium-6 large-4 columns warning">
            <p class="head">Database</p>
            <div class="small-12 item">MySQL/MariaDB</div>
            <div class="small-12 item">MongoDB</div>
            <div class="small-12 item">Firebase</div>
          </div>
          <div class="medium-6 large-4 columns grey">
            <p class="head">Other</p>
            <div class="small-12 item">Photoshop</div>
            <div class="small-12 item">Lightroom</div>
          </div>
        </div>
      </div>
    </div>

    <div id="projects" class="page min default">
      <div class="title">My Projects</div>
      <div class="row projects">

        <div class="row project">
          <div class="medium-6 large-4 item columns">
            <img src="/img/thumbnails/tedx.jpg" alt="TEDxKMUTT">
          </div>
          <div class="medium-6 large-4 item columns">
            <img src="/img/thumbnails/jwc8.jpg" alt="JWC8">
          </div>
          <div class="medium-6 large-4 item columns">
            <img src="/img/thumbnails/jpcxii.jpg" alt="JPC12">
          </div>
        <!-- </div>

        <div class="row project"> -->
          <div class="medium-6 large-4 item columns">
            <img src="/img/thumbnails/fullscreen_youtube.jpg" alt="antronic's channel">
          </div>
          <div class="medium-6 large-4 item columns">
            <img src="/img/thumbnails/dekcomstory.jpg" alt="DEKCOMSTORY">
          </div>
          <div class="medium-6 large-4 item columns">
            <img src="/img/thumbnails/camphub.jpg" alt="CampHUB.in.th">
          </div>
        </div>

      </div>
    </div>

    <div id="contact" class="page min default">
      <div class="header row expanded">
      </div>
      <div class="content row expanded">
        <p id="bigguy" class="small-12 medium-6 medium-offset-6">
          Halo!
        </p>
        <p id="underline">
          I'M <span id="myname">JIRACHAI CHANSIVANON</span>
        </p>

        <div class="social row expanded">
          <div class="medium-6 medium-offset-3">
            <div class="row item">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
              <span>(+66) 83-086-7829</span>
            </div>
            <div class="row item">
              <a href="https://fb.com/JobAntronic">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <span>fb.com/JobAntronic</span>
              </a>
            </div>
            <div class="row item">
              <a href="https://twitter.com/JobAntronic">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <span>@JobAntronic</span>
              </a>
            </div>
            <div class="row item">
              <a href="https://www.instagram.com/jobantronic/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span>jobantronic</span>
              </a>
            </div>
            <div class="row item">
              <a href="https://github.com/antronic/">
                <i class="fa fa-github-square" aria-hidden="true"></i>
                <span>antronic</span>
              </a>
            </div>
            <div class="row item">
              <a href="mailto:antronic.inc@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>antronic.inc@gmail.co</span>
              </a>
            </div>
            <div class="row item">
              <a href="skype:jobantronic?call">
                <i class="fa fa-skype" aria-hidden="true"></i>
                <span>jobantronic</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
  <script src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#burger').click(function(){
      $(this).toggleClass('open');
    });
  });
  </script>
</html>
