<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KMUTT REGISTER</title>
  </head>
  <body>

  </body>
  <script type="text/javascript">
    window.name = 'mainPopupWindow';
    window.location.replace("https://sinfo.kmutt.ac.th/NewAcis/login.jsf");
  </script>
</html>
