<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KMUTT REGISTER</title>
  </head>
  <body>
    <button onclick="run_reg()">Open</button>
  </body>
  <script type="text/javascript">
    window.name = 'mainPopupWindow';
    window.location.replace("https://sinfo.kmutt.ac.th/NewAcis/login.jsf");

    function run_reg() {
      window.name = 'mainPopupWindow';
      window.location.replace("https://sinfo.kmutt.ac.th/NewAcis/login.jsf");
    }
  </script>
</html>
